{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/registration/signup/reg.css' %}" />
  <title>my-Idea</title>
</head>

<body>
  <div class="container">
    <!-- register sigi up  -->

    <form action="" method="post">
    
      {% csrf_token %}
      <div class="form_sigin_up">
        <h2>sign Up</h2>

        {% if messages %}
            {% for m in messages %}
              <h4 {% if  m.tags == 'warning' %}
              style="color:red"
              {% else %}
              style="color:green"
              {% endif  %}

              class="text-{{ m.tags }}"> {{ m }} </h4>
            {% endfor %}
          {% endif %}
        
        <label for="fristname"> Entir frist name</label>
        <input id="fristname" name="fristname" type="text" />

        <label for="Username*"> Entir Username</label>
        <input id="Username" name="username" type="text" />

        <label for="Email"> Entir Email</label>
        <input id="Email" name="email" type="email" />

        <label for="password"> Entir password</label>
        <input id="password" name="password" type="password" />

        <label for="conf_password"> Confirm password</label>
        <input id="conf_password" name="conf_password" type="password" />
        
        <button type="submit">Save</button>
        <h3 style="text-align: end;"><a href="login">Sign In</a></h3>
      </div>
    </form>

  </div>
  <script src="{% static 'js/registration/signup/siginup.js' %}"></script>
</body>

</html>